$max-width: 1200px;
$gutter: 20px;

$color-1: #000;
$color-2: #999;
$color-3: #aaa;
$color-4: #ccc;
$color-5: #2d2;
$color-6: #1a1;
$color-7: #fcffd2;
$color-8: #cc9694;

$trans: 300ms ease-in-out;

div {
}
