@import "config";

.content {

    &__youtube {
    display: flex;
    flex-direction:center;
    justify-content:center;
    height:50%;
        
    }
    &__youtube iframe {
    margin-top:$gutter;
    margin-bottom:$gutter;
    margin-left:$gutter;
    margin-right:$gutter;
    width:66%;

    }

    &__text p {
    display: flex;
    flex-direction:center;
    align-items:center;
    justify-content:center;
    margin-top:$gutter;
    margin-bottom:$gutter;
    max-width:$max-width;

    }

    
    &__quote  {
    padding-top:$gutter;
    padding-left: $gutter;
    padding-bottom:$gutter;
    justify-content:center;
    max-width:$max-width;
    background-color:$color-3;
    
     }
    
    
    &__quote p {
    margin-bottom:$gutter;
    justify-content:center;
    max-width:$max-width;
    

    }

    &__image {
    display: flex;
    flex-direction:center;
    justify-content:center;
    height:50%;
    margin-top:$gutter;
    margin-bottom:$gutter;
    max-width:66%;

    }

    &__list li {
    display: flex;
    flex-direction:center;
    margin-top:$gutter;
    margin-bottom:$gutter;
    justify-content:center;
    max-width:$max-width;

    }

    &__code {
    margin-top:$gutter;
    margin-bottom:$gutter;
    justify-content:center;
    max-width:$max-width;

    }
}
