@import "config";

.page {
    display: flex;
    justify-content: center;
    padding: 0 $gutter;
  
    &__content {
      display: flex;
      max-width: $max-width;
      justify-content: center;
      flex-direction: column;
    }

    &__top {
      display: flex;
      justify-content: center;
      margin-bottom: $gutter;
      margin-top: $gutter;
    }

    &__buttons {
      display: flex;
      width: 25%;
      justify-content: space-around;
      flex-direction: row;

    }

    &__cards {
      display: flex;
      justify-content: flex-start;
    }
  }
  
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: $color-4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: $gutter/2;
  width: 400px-($gutter);
  height: 325px-($gutter);

  &.card-hidden {
    display: none;
  }
  
  &__thumb {
    width: 100%;

  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $gutter/2;
  }

  &__finished {
    font-family: $font-head;
    color: $color-5;
    font-size: 2.5rem;
  }

  &__text {
    font-family: $font-head;
    display: flex;
    flex-direction: column;

    & a {
      text-decoration: none;
      color: $color-1;
      
      & h2 {
        font-weight: bold;
        font-size: 1.7rem;
      }
    }

  }
}

.buttons {
  display: flex;
  padding: 0 $gutter;
  
  &__button {
    display: flex;
    justify-content: center;
    font-family: $font-head;
    font-weight: bold;
    background-color: $color-4;
    border: none;
    border-radius: 1rem;
    padding: 0.8rem 1.3rem;
    font-size: 1.5rem;

    &.button-active {
      background-color: $color-5;
    }
  }
}
